<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AI-Gon Trail</title>
        <meta name="description" content="What if you could play The Oregon Trail with any theme you want? Welcome to The AI-Gon Trail, a hilarious and unpredictable game powered by AI. Choose your theme, then embark on a wild journey full of random scenarios and challenges created by AI. Will you survive the AI-Gon Trail or die of dysentery? Find out now!">
        <meta name="keywords" content="AI-Gon Trail, Oregon Trail, game, adventure, AI, scenarios, challenges, obstacles, ChatGPT, story">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
<body>
    <div id="app"></div>
</body>
{% load static %}
<script src="{% static "eui.js" %}"></script>
<script src="{% static "vender.js" %}"></script>
<script src="{% static "index.js" %}"></script>
</html>