body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-block-end: 0 !important;
}

.delay-appear {
  /* Set the initial state of the div */
  opacity: 0;
  visibility: hidden;
  display: none;
  animation: showDiv 5s forwards;
  height: 0;
}

/* Define a keyframe animation that changes the opacity and visibility of the div */
@keyframes showDiv {
  /* At 0%, keep the div hidden */
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  /* At 50%, start showing the div */
  90% {
    opacity: 0;
    visibility: visible;
    display: unset;
    height: 0;
  }
  /* At 100%, fully show the div */
  100% {
    opacity: 1;
    visibility: visible;
    display: unset;
    height: 120px;
  }
}
