body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-block-end: 0 !important;
}

.delay-appear {
  /* Set the initial state of the div */
  opacity: 0;
  visibility: hidden;
  display: none;
  animation: showDiv 6.5s forwards;
  height: 0;
}

.delay-appear-quick {
  /* Set the initial state of the div */
  opacity: 0;
  visibility: hidden;
  display: none;
  animation: showDiv 2.5s forwards;
  height: 0;
}

/* Define a keyframe animation that changes the opacity and visibility of the div */
@keyframes showDiv {
  /* At 0%, keep the div hidden */
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  /* At 50%, start showing the div */
  90% {
    opacity: 0;
    visibility: visible;
    display: unset;
    height: 0;
  }
  /* At 100%, fully show the div */
  96% {
    height: 128px;
  }
  100% {
    opacity: .5;
    visibility: visible;
    display: unset;
    height: 120px;
  }
}

.story-appear {
  animation: showStoryPanel .8s forwards;
  overflow: hidden;
}

@keyframes showStoryPanel {
  0% {
    opacity: .5;
    max-height: 120px;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    max-height: 800px;
  }
}

.suggestion-badge .euiBadge__text {
  white-space: break-spaces !important;
}

.info-panel-apper {
  animation: showInfoPanel .5s forwards ease-out;
}

@keyframes showInfoPanel {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}